/* Create a custom stylesheet */

/* Heading section */
.header {
    background-color: rgb(13, 39, 39);
    color:white;
    min-height: 65px;
    align-content: center;
    width: 101%;
    padding-left: 50px;
    font-size: 95%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 62px;
}

.logo {
    padding-right: 7%;
}

#my_account {
    text-align: right;
    padding-right: 5%;
}

#help {
    text-align: right;
    padding-left: 12%;
}

/* Navigation bar */
.navigation {
    background-color:rgb(4, 22, 22);
    color:white;
    min-height: 60px;
    width: 101%;
    align-content: center;
    padding-left: 7%;
    padding-right: 7%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
}

.navigation_col {
    width:fit-content;
    align-content: center;
}

.navStrmBtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
    width: 105%;
    height: 65%;
    background-color:rgb(3, 124, 139);
    border: none;
}

/* Welcome back section */
.welcome_row {
    height: 55%;
    width: 101%;
}

.welcome {
    background-color: black;
    color:white;
    align-content: center;
    text-align: left;
    padding-left: 12%;
    padding-bottom: 5%;
}

#welcome_back {
    font-size: 250%;
    line-height: 50%;
}

#time_to_enjoy {
    font-size: 150%;
}

#start_streamingBtn {
    width: 330px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(3, 124, 139);
    border: none;
}

#offersBtn {
    width: 330px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(13, 39, 39);
    color:white;
    border: 1px solid rgb(3, 124, 139);
}

.prog_image img {
    width: 102%;
}

/* Your next watch section */
.next {
    background-color:rgb(4, 19, 19);
    color: white;
    height: 50%;
    width: 100%;
}

.section_headings {
    font-size: 250%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 2%;
}

.next_watch_options {
    padding-left: 43%;
    padding-right: 43%;
    line-height: 50%;
}

.line {
    color:rgb(36, 196, 218);
    font-weight:1000;
}

.prog_image_options {
    padding-left: 18%;
    padding-bottom: 8%;
}

.prog_image_options img {
    width:105%;
}

/* My NOW Membership section */
.membership {
    background-color: rgb(4, 19, 19);
    color:white;
    padding-bottom: 5%;
}

.membership_options {
    padding-left:15%;
    padding-right: 15%;
}

.mem_options_box {
    text-align: left;
    background-color: rgb(13, 39, 39);
    width: 30%;
    border-radius: 2%;
    border: 1px solid rgb(18, 49, 49);
    padding-top: 2%;
    padding-bottom: 2%;
}

.membership_options img {
    width: 25%;
}

.membership_options h3 {
    font-size: 115%;
    padding-left: 3%;
}

.membership_options p {
    color:darkgray;
    padding-left: 3%;
    line-height: 75%;
}

.membership_options Button {
    text-align:left;
    color: rgb(3, 124, 139);
    font-size: 105%;
    padding-right: 10%;
    line-height: 1%;
}

#offers {
    padding-top: 1%;
}

/* Footer section */
.footer {
    background-color: rgb(4, 19, 19);
    color:white;
    padding-bottom: 2%;
}

.footer_icons img {
    width: 40px
}

.footer_icons {
    padding-left: 42%;
}

.footer_items {
    font-size: 75%;
    padding-left: 1%;
    padding-right: 1%;
}

.footer_col {
    width:fit-content;
}

#nowtv_link {
    padding-top: 1%;
    text-align: left;
}